.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.collection_container {
  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    // input {
    //   position: absolute;
    //   visibility: hidden;
    // }
  }
}
