.container {
  max-width: 1430px;
  margin: 0 auto;
  padding-bottom: 120px;
  border-bottom: solid 1px #d2d2d9;
  margin-top: 62px;
}

.parent_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);

  grid-row-gap: 120px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  gap: 130px;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  gap: 130px;

  flex-direction: row-reverse;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
  display: flex;
  gap: 130px;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
  display: flex;
  gap: 130px;
  flex-direction: row-reverse;
}

.h1 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 130%;
  color: #192040;
}

.h6 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
}

.smtext {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
}

.toptext_container {
  max-width: 830px;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 120px;
}

.p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #192040;
}

.h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #192040;
}

.btn {
  &_font {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ff2e51;
    text-decoration: none;
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a {
  display: flex;
  gap: 10px;
  align-items: center;
}
