.container {
  max-width: 1430px;
  margin: 0 auto;
  background-color: #f9fbf6;
  border: 2px solid #ffffff;
  border-radius: 40px;
  margin-bottom: 120px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.h2 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #192040;
  margin-bottom: 20px;
}

.h6 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
}

.child_container {
  max-width: 513px;
  padding-left: 7.5rem;
  padding-top: 3.75rem;
}

.p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #828299;
  margin-bottom: 10px;
}

.input {
  &_container {
    width: 100%;
    height: 3.875rem;
    padding: 0 20px;
    border: 2px solid #ededf2;
    border-radius: 10px;
    background: #fffefc;
  }
  &Text_container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  &_font {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #828299;
  }
}

span {
  text-decoration: underline;
}

.approval {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #828299;
  max-width: 300px;
}

.send {
  &_container {
    width: 36.25rem;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
}

.btn_approval {
  &_container {
    margin-right: 30px;
    padding: 20px 55px 20px;
    background: #fa052e;
    box-shadow: 0px 15px 20px -15px #ff0d35;
    border-radius: 50px;
  }
  &_font {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }
}

.img {
  width: 43.5rem;
  height: 29.1875rem;
  position: absolute;
  right: 0;
  margin-right: -107px;
  background-image: url('./img/1.png');
  background-repeat: no-repeat;
}
