.container {
  background-image: url('./img/background.png');
  max-width: 1430px;
  margin: 0 auto;
  border-radius: 30px;
}

.text {
  &_container {
    max-width: 710px;
    padding-top: 130px;
    padding-left: 140px;
    padding-bottom: 133px;
  }
  &_bigfont {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 130%;
    color: #ffffff;
    margin-bottom: 20px;
  }
  &_smallfont {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }
}

.btn {
  &_container {
    margin-top: 50px;
    background: #ff2e51;
    border-radius: 50px;
    padding: 20px 60px 20px;
  }
  &_font {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    color: #ffffff;
  }
}
