.swiper_container {
  max-width: 1430px;
  margin: 0 auto;
  position: relative;
}

.swiperbtn_container {
  width: 95%;
  margin-left: 35px;
  position: absolute;

  display: flex;
  justify-content: space-between;
  margin-top: -337px;
  z-index: 1000;
}

.swiperbtn_icon {
  font-size: 60px;
}

.swiperbtn_icon:hover {
  background: transparent;

  filter: drop-shadow(0px 0px 10px #02c4ff);
  border-radius: 100px;
}

.swiperbtn {
  background: transparent;
}
