.parent_container {
  margin: 0 auto;
  max-width: 1430px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.margin_top {
  margin-top: 120px;
}

.child_container_1 {
  grid-area: 1 / 1 / 2 / 2;
  padding-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: #fcfcf9;
}
.child_container_2 {
  grid-area: 1 / 2 / 2 / 3;
  padding-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: #fcfcf9;
}
.child_container_3 {
  grid-area: 1 / 3 / 2 / 4;
  padding-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 30px;
  background-color: #fcfcf9;
}

.block {
  &_img {
    position: relative;
    &_sign {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      margin-left: 40px;
      margin-bottom: 25px;
      padding: 8px 16px 8px;
      background-color: #ff2e51;
      max-height: 36px;
      border-radius: 50px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
      color: #ffffff;
    }
    &_1 {
      width: 29.375rem;
      height: 15.625rem;
      background-image: url('./img/block1.png');
    }
    &_2 {
      width: 29.375rem;
      height: 15.625rem;
      background-image: url('./img/block2.png');
    }
    &_3 {
      width: 29.375rem;
      height: 15.625rem;
      background-image: url('./img/block3.png');
    }
  }
}
.h6 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #192040;
}

.p {
  margin-top: 10px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #828299;
  margin-bottom: 20px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  &_container {
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.stats {
  &_container {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
  }
  &_view {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #828299;
    &_container {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  &_date {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #828299;
  }
}

.slider {
  &_container {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    max-width: 1430px;
    margin: 0 auto;
    margin-top: 43px;
    padding-bottom: 120px;
    border-bottom: solid 1px gray;
  }
}
.moreinf_btn {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #192040;
  background-color: transparent;
}

.h1 {
  &_container {
    max-width: 1430px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #192040;
}
