.container {
  max-width: 1430px;
  margin: 0 auto;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 60px;
}

.catalog {
  &_container {
    max-width: 480px;
  }
  &_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    flex: 1;
  }
  &_btn_childcontainer {
    width: 13.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

button {
  /* p */

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  /* txt2 */

  color: #828299;
}

.h5 {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #192040;
}

.services {
  &_btn {
    &_container {
      margin-top: 30px;
      max-width: 300px;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: flex-start;
    }
    &_font {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #828299;
      text-decoration: none;
    }
  }
}

.big {
  &_btn {
    &_container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
    }
    &_font {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      color: #192040;
    }
  }
}

.infoSocial {
  &_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 50px;
  }
}

.info {
  &_smalltext {
    &_font {
      width: 86px;
      height: 17px;
      left: 0px;
      top: 0px;
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
      color: #828299;
      margin-bottom: 6px;
    }
  }
  &_bigtext {
    &_font {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 130%;
      color: #192040;
    }
  }
}

.social {
  &_container {
    display: flex;
    gap: 10px;
  }
}

.btn_align {
  text-align: left;
}

.p {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  color: #828299;
}

.rights {
  &_container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1430px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d2d2d9;
  }
}
